* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainContainer{
    padding: 12px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

.heading1 {
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 40px;
    margin: 50px 0;
}
.h2Container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.heading2{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
}
.paragraph{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
}

.secondContainer{
    flex: 1;
}
.imageContainer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    margin: 40px 0;
    gap: 30px;
}
.image{
    width: 100%;
    height: auto;
}

.imageContainer div:nth-child(2){
    margin-top: 45px;
}
.imageContainer div:nth-child(4){
    margin-top: 45px;
}

.imageContainer div:nth-child(6){
    margin-top: 45px;
}


.container {
    width: 85%;
}
.addingMargin{
    margin-top: 45px;
}
.imageFlexingContainer{
    display: flex;
}
.imageparagraph {
    writing-mode: vertical-rl;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 4px;
}
.heading3 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 15px;
    margin-top: 10px;
}

.footer{
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 15px;
}

@media (min-width: 600px) {
    .mainContainer{
        padding: 20px;
    }
    .headerContainer{
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin: 90px 0;
    }
    .heading1{
        margin: 0;
    }
    .imageContainer {
        grid-template-columns: auto auto auto;
    }
    .addingMargin{
        margin-top: 0px;
    }
    .imageContainer div:nth-child(2){
        margin-top: 45px;
    }
    .imageContainer div:nth-child(5){
        margin-top: 45px;
        padding-top: 45px;
    }

}


